.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 12px;
    max-width: 980px;
    margin: 0 auto;
    align-items: center;
}

.radios {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-right: 52px;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.button {
    width: 205px;
}

.arrbutton {
    margin-left: 80px;
    width: 205px;
}

.columns {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 10px;
    width: fit-content;
    margin: 48px auto 0 auto;
}

.column {
    align-self: flex-end;
}
